/venv/
/.idea/

/compile
!compile/pyinstaller.py
/Ion Commander*.exe

Log/logs/*

DB/*.db
DB/*.db-journal
DB/*.duckdb
DB/*.duckdb.wal

Tips/entries/*
Tips/images/*

Scripts/*

/guis/
/data/
/tests/

desktop.ini

